<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Dr. Aryan's Assistant</h1>
    <p>Click the button and speak</p>
    <button id="startButton">Start Listening</button>
    <p class="output">Awaiting speech command...</p>
    <div class="log"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->
<!DOCTYPE html>
<html>

<head>
    <title>Dr. Aryan's Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.4/lib/p5.js"></script>
    <style>
        #transcript {
            white-space: pre-wrap;
            /* Preserves spaces and line breaks */
        }
    </style>
</head>

<body class="dark">
    <div class="w-full h-screen mx-auto">
        <div class="top-left-effect"></div>
        <nav class="navbar">
            <div class="text-center">
                <span class="nav-title">Dr. Aryan's Assistant</span>
            </div>
        </nav>

        <div class="home-screen" id="home-screen">
            <div class="home-screen__content">
                <div class="home-screen__title">Hello! Welcome back.</div>
                <div class="home-screen__subtitle">Tap on the button below to get started</div>
            </div>
            <div class="home-screen__footer">
                <div class="home-screen__footer_box">
                    <div class="microphone-container" onclick="showMic()">
                        <div>
                            <img src="{{ url_for('static', filename='icon/Microphone.svg') }}" alt="Microphone" width="80px" height="80px">
                        </div>
                        <div class="microphone-container_taptospeak">Tap to speak</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-screen" id="chat-screen">
            <div class="chat-screen__content" id="chat-screen__content">
                <div id="conversation"></div>
                <div class="message" id="transcript"></div>
            </div>
            <div class="chat-screen__footer" id="chat-screen__footer">
                <main id="waveform"></main>
                <div class="listening-chip" id="listening-chip">
                    <span class="dark-ear"><img src="{{ url_for('static', filename='icon/Ear-black.svg') }}" alt="Ear"></span>
                    <span class="white-ear"><img src="{{ url_for('static', filename='icon/Ear-white.svg') }}" alt="Ear"></span>
                    <span class="ml-1">LISTENING</span>
                </div>
                <a href="javascript:" class="microphone-circle" id="startButton">
                    <div class="circlebox">
                        <div>
                            <img src="{{ url_for('static', filename='icon/Microphone.svg') }}" alt="Microphone" width="80px" height="80px">
                        </div>
                    </div>
                    <main id="microphone-circle"></main>
                </a>
            </div>
        </div>
        <div class="bottom-right-effect"></div>
    </div>



    <script>
        
    </script>
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>